{% extends 'main/base.html' %}

{% block title %}
Магазин
{% endblock %}

{% block head %}
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'Home' %}" class="nav-link px-2">Домашняя страница</a></li>
        <li><a href="{% url 'product' %}" class="nav-link px-2 link-secondary">Коктейли</a></li>
        <li><a href="{% url 'delivery' %}" class="nav-link px-2">Доставка</a></li>
        <li><a href="{% url 'inf' %}" class="nav-link px-2">Информация</a></li>
        <li><a href="{% url 'contact' %}" class="nav-link px-2">Контакты</a></li>
      </ul>
{% endblock %}

